<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <h1><%= @query %></h1>
      <h2 style="color: grey">- You</h2>

      <h1><%= @answer %></h1>
      <h2 style="color: grey">- Stupid Coach</h2>

      <%= link_to "Ask a new question", ask_path %>
    </div>
  </div>
</div>
